// Colors
$color-black-off: #20222b;
$color-blue: #3c4251;
$color-purple-light: #a5afd7;
$color-purple: #8357C5;
$color-dark-blue: #333745;

// Spacing
$sizing-small: 1.2rem;
$sizing-medium: 1.6rem;
$sizing-large: 3.2rem;
$sizign-xlarge: 4.8rem;
